/* hoja de estilos responsive - completado con mobile first solo en index.html*/    

.Desktop {
    display: none;
} 

@media only screen and (min-width: 1024px) {
        .Desktop{
            display: block;
        }

        .Mobile{
            display: none;
        }
     /*   .pizarra{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows: 30% 30% 30%;
            grid-template-areas: "speech speech speech" 
                                  "mision vision valores"}

            .speech { grid-area:speech;}
            .mision { grid-area:mision;}
            .vision { grid-area:vision; }
            .valores { grid-area:valores;}*/
            /* responsive del grid de aboutus.html*/
        .cards {
            display: grid;
            grid-template-columns: repeat(5, 1fr);
            align-content: stretch;
            justify-content: center;
            }/* responsive del grid de merchandise.html*/


     }

     @media (max-width: 991.98px) {
       /* .pizarra{
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            grid-template-rows: auto auto auto auto;
            grid-template-areas: "speech" 
                                 "mision"
                                 "vision"
                                 "valores"}

            .speech { grid-area:speech;}
            .mision { grid-area:mision;}
            .vision { grid-area:vision; }
            .valores { grid-area:valores;} */

            .imgPulgares {display: none;}
            /* responsive del grid de aboutus.html*/
        .cards {
            display: grid;
            grid-template-columns: repeat(1, 1fr);
            align-content: stretch;
            justify-content: center;
            }/* responsive del grid de merchandise.html*/

        
      }

/* para reparar posición del nav bar de bootstrap y que quede centrado en desktop*/

     
      
      @media (min-width: 992px) {
        .navbar-nav{
            padding-left: 310px;
        }
      }
     

  